.main
  .main__header
    .main__header__left-box
      .main__header__left-box__current-group
        = @group.name
      %ul.main__header__left-box__members
        Member:
        - @group.users.each do |user|
          = user.name
    .main__edit
      %a.main__edit__btn(href="/groups/#{@group.id}/edit")
        Edit

  .main__message
    .messages
      = render @messages


  .main__form
    = form_for [@group, @message] do |f|
      .form
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas','image')
            = f.file_field :image, class: 'input-box__image__file'
        %input{type:"submit", class: "submit-btn", value: 'Send'}